<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="../css/controlStyles.css" rel="stylesheet"></a>
  <script src='/socket.io/socket.io.js'></script>
</head>
<body>
  <h1>This is the control view</h1>
  <div id="buttonFrame">
    <div class="controlButton" id="testButtonRed">red</div>
    <div class="controlButton" id="testButtonBlue">blue</div>
    <div class="controlButton" id="testButtonBlack">black</div>
    <button id="mapViewTest">coast</button>
  </div>
  <div id="mapButtons"></div>
  <a href="/map-maker">go to map maker</a>
  <script src="resources/controller.js"></script>
</body>
</html>